<?xml version="1.0"?>
<window>
  <width>1916</width>
  <height>1041</height>
  <style material_theme="Light"
         material_primary="#ff5722"
         material_accent="#03a9f4"/>
  <menus>
    <drawer visible="true"/>
  </menus>
</window>

<plugin filename="MinimalScene">
  <gz-gui>
    <title>3D View</title>
    <property key="state" type="string">docked</property>
  </gz-gui>
  <engine>ogre2</engine>
  <scene>scene</scene>
  <ambient_light>1.0 1.0 1.0</ambient_light>
  <background_color>0.4 0.6 1.0</background_color>
  <!-- camera_pose: x y z roll pitch yaw -->
  <camera_pose>-0.01 -0.12 0.10 0 0.72 1.48</camera_pose>
  <camera_clip>
    <near>0.01</near>
    <far>1000.0</far>
  </camera_clip>
</plugin>

<plugin filename="GzSceneManager">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="InteractiveViewControl">
  <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="CameraTracking">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="MarkerManager">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="SelectEntities">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="EntityContextMenuPlugin">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="Spawn">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="VisualizationCapabilities">
    <gz-gui>
    <property key="resizable" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property>
    <property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
  </gz-gui>
</plugin>

<plugin filename="WorldControl">
  <gz-gui>
    <title>World control</title>
    <anchors target="3D View">
      <line own="left" target="left"/>
      <line own="bottom" target="bottom"/>
    </anchors>
    <property key="state" type="string">floating</property>
    <property key="width" type="double">200</property>
    <property key="height" type="double">125</property>
  </gz-gui>
  <play_pause>true</play_pause>
  <step>true</step>
  <start_paused>true</start_paused>
  <service>/world/world_demo/control</service>
  <stats_topic>/world/world_demo/stats</stats_topic>
</plugin>
