<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/581c9cc37f21d16430f878db/w/71943bc1e21e09c7efc95c4d/e/49410196dd3c5908d31aecdb -->
<robot name="dual_flywheel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ROS namespace injected into the odri_gz_ros2_control plugin's <ros><namespace>
       element, so that several instances of this robot can be spawned in the same
       Gazebo world, each with its own controller_manager/topics (see
       odri_dual_motor_testbed_haptic_pair). Empty by default: unnamespaced,
       single-robot behaviour is unchanged. -->
  <xacro:arg name="robot_namespace" default=""/>
  <xacro:arg name="gz_sim" default="false"/>

  <link name="world"/>
  <xacro:include filename="$(find odri_dual_motor_testbed_description)/urdf/dual_flywheel.urdf.xacro" />

  <joint name="base_link_in_world" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.001" rpy ="0.0 0.0 0.0"/>
  </joint>
  <xacro:if value="$(arg gz_sim)">
    <xacro:include filename="$(find odri_dual_motor_testbed_description)/gazebo/gazebo_dual_flywheel.urdf.xacro" />
    <xacro:odri_dual_motor_testbed_gazebo  name="picodualdrv8316c"/>    
  </xacro:if>
  <xacro:unless value="$(arg gz_sim)">
    <xacro:include filename="$(find odri_dual_motor_testbed_description)/ros2_control/system_pico_dual_drv8316c.ros2_control.xacro" />
    <xacro:pico_dual_drv8316c_ros2_control
        name="picodualdrv8316c"
        />
  </xacro:unless>
  
</robot>
