<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/581c9cc37f21d16430f878db/w/71943bc1e21e09c7efc95c4d/e/49410196dd3c5908d31aecdb -->
<robot name="dual_flywheel" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ROS namespace injected into the motkin_gz_ros2_control plugin's <ros><namespace>
       element, so that several instances of this robot can be spawned in the same
       Gazebo world, each with its own controller_manager/topics (see
       motkin_dual_motor_testbed_haptic_pair). Empty by default: unnamespaced,
       single-robot behaviour is unchanged. -->
  <xacro:arg name="robot_namespace" default=""/>
  <!-- Serial device of the motkin board on the real robot.
       Empty: auto-detected. Set it when several testbeds are connected to
       the same computer, e.g. /dev/serial/by-id/usb-...  -->
  <xacro:arg name="serial_port" default=""/>
  <xacro:arg name="gz_sim" default="false"/>
  <!-- Controller manager parameters loaded by the motkin_gz_ros2_control
       plugin when gz_sim is true (see motkin_dual_motor_testbed_gazebo). -->
  <xacro:arg name="controller_params_file" default=""/>

  <link name="world"/>
  <xacro:include filename="$(find motkin_dual_motor_testbed_description)/urdf/dual_flywheel.urdf.xacro" />

  <joint name="base_link_in_world" type="fixed">
    <parent link="world" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.001" rpy ="0.0 0.0 0.0"/>
  </joint>
  <xacro:if value="$(arg gz_sim)">
    <xacro:include filename="$(find motkin_dual_motor_testbed_description)/gazebo/gazebo_dual_flywheel.urdf.xacro" />
    <xacro:motkin_dual_motor_testbed_gazebo/>
  </xacro:if>
  <xacro:unless value="$(arg gz_sim)">
    <xacro:include filename="$(find motkin_dual_motor_testbed_description)/ros2_control/system_motkin.ros2_control.xacro" />
    <xacro:motkin_ros2_control
        name="motkin"
        serial_port="$(arg serial_port)"
        />
  </xacro:unless>

</robot>
